.reviwes {
    background: fixed;
    opacity: 85%;
    background-image: url('https://img.freepik.com/free-psd/customer-feedback-review-testimonial-mockup_439185-5424.jpg?w=1380&t=st=1667977910~exp=1667978510~hmac=55f1ff5a68980b697bca9528900a3f2d52bead669451df70380ef10c5f0c35b2');
    background-size: cover;
    background-color: black;
}