.background-image {
    background: fixed;
    opacity: 80%;
    background-image: url('https://img.freepik.com/free-photo/green-slate_1205-377.jpg?1&w=1380&t=st=1667979697~exp=1667980297~hmac=18a8d08f46082f96ce60e119608f332f49176f53da8a6d6d3b8be6108cc6f616');
    background-size: cover;
}